#config-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 30;
    padding: 10px 15px;
    background-color: var(--jet);
    color: var(--white-1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  